@import "toastr";

@keyframes fadeIn{
    from{ opacity: 0;}
    to{ opacity: 1;
    display: none;}
}

@keyframes show{
    to{opacity: 1;}
}

.container{
    position: absolute;
    top: 50%;
    right: 50%;
}

html{
    height:100%;
    overflow: hidden;
}

body{
    height: 100%;
    background-color: black;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    overflow: auto;
}

.m{
    background-image: url(../img/M.svg);
    background-repeat: no-repeat;
    background-size: 52px;
    width: 52px;
    height: 48px;
    animation: fadeIn 4s ease-in;
    opacity: 0;
}

.t{
    background-image: url(../img/T.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 50px;
    margin-top: 2px;
    width: 50px;
    height: 50px;
    opacity: 0;
    animation: fadeIn 2s ease-in;
    animation-delay: 2s;
}

.advantage-note{
    position: absolute;
    top: 30%;
    right: 15%;
    color: rgb(125, 125, 125);
    font-family: Montserrat;
    font-size: 25px;

    @media screen and (max-width: 1400px) {
        font-size: 20px;
        top: 25%;
    }

    @media screen and (max-width: 500px) {
        display: none;
    }
}

.advantage{
    margin-left: 30px;
    font-family: Comfortaa;
    font-size: 50px;
    color: #ce9f51;

    @media screen and (max-width: 1500px) {
        font-size: 35px;
    }
    
    @media screen and (max-width: 500px) {
        font-size: 25px;
    }
}

.advantage-2{
    z-index: -1;
    position: absolute;
    right: 15%;
    top: 35%;
    background-image: url(../img/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    height: 400px;
    width: 800px;

    @media screen and (max-width: 1500px) {
        top: 40%;
        height: 300px;
        width: 600px;
    }

    @media screen and (max-width: 500px){
        display: none;
    }
}

.advantage-3{
    z-index: -1;
    position: absolute;
    right: 15%;
    top: 35%;
    background-image: url(../img/02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    height: 400px;
    width: 800px;

    @media screen and (max-width: 1500px) {
        top: 40%;
        height: 290px;
        width: 580px;
    }

    @media screen and (max-width: 500px){
        display: none;
    }
}

.advantage-4{
    z-index: -1;
    position: absolute;
    right: 15%;
    top: 35%;
    background-image: url(../img/03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    height: 400px;
    width: 800px;

    @media screen and (max-width: 1500px) {
        top: 40%;
        height: 300px;
        width: 600px;
    }

    @media screen and (max-width: 500px){
        display: none;
    }
}

.preview-logo{
    position: absolute;
    left:45%;
    top:0;
    width:220px;
    height: 100px;
}

.logo{
    margin-left: 45%;  
    opacity: 0;
    z-index: 9;
    background-image: url(../img/full-logo.svg);
    background-size: 220px;
    background-repeat: no-repeat;
    width: 220px;
    height: 100px;
    animation: show 0s 4s forwards;
}

.wraper{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    overflow: hidden;
    padding: 1%;
}

input[type='email']{
    &:invalid:not(:focus):not(:placeholder-shown) {
        border-color: red;
    }

    &:valid:not(:focus):not(:placeholder-shown){
        border-color: green;
    }
}

.container-front-page{
    position: absolute;
    top: 1%;
    bottom: 1%;
    left: 1%;
    right: 1%;
    padding: 1%;
    background-image: linear-gradient(#ce9f51 4px, transparent 0), linear-gradient(to left, #ce9f51 4px, transparent 0), linear-gradient(to right, #ce9f51 4px, transparent 0), linear-gradient(to top, #ce9f51 4px, transparent 0), linear-gradient(to top, #ce9f51 4px, transparent 0);
    background-position: 0 100%, 100% 100%, 0 100%;
    background-size: 100%, 100%, 100%, 48%, 48%;
    background-repeat: no-repeat;
    transition: all 500ms;

    .arrow-down{
        position: absolute;
        bottom:0;
        left: 49%;
        background-image: url(../img/angle-arrow-down.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 2%;
        height: 30px;
        cursor: pointer;
        transition: all 500ms;

        &:hover{
            transform: translateY(10px);
        }
    }

    .menu-container{
        position: absolute;
        z-index: 1;
        width: 50px;
        height: 50px;
        top: 0;
        right: 0;
        background-color: #ce9f51;
        cursor: pointer;

        .border-menu-top{
            position: absolute;
            top: 35%;
            left: 25%;
            background-color: black;
            width: 50%;
            height: 3px;
            transition: all 500ms;
        }

        .border-menu-bottom{
            position: absolute;
            bottom: 35%;
            left: 25%;
            background-color: black;
            width: 50%;
            height: 3px;
            transition: all 500ms;
        }

        &:hover{

            .border-menu-top{
                transform: translateY(-3px);
            }

            .border-menu-bottom{
                transform: translateY(3px);
            }
        }
    }

    .information-container{
        margin-top: 15%;

        @media screen and(max-width: 1500px){
            margin-top: 10%;
        }

        .information-header{
            font-size: 75px;
            margin-bottom: auto;
            width: 100%;
            font-family: Comfortaa;
            color: #ce9f51;

            @media screen and (max-width: 1500px){
                font-size: 55px;
            }

            @media screen and (max-width: 500px){
                font-size: 40px;
            }
        }

        .information-description{
            margin-left: 30px;
            font-size: 20px;
            width: 50%;
            color: gray;
            font-family: Montserrat;

            @media screen and (max-width: 1500px){
                width: 60%;
            }
        }
    }
}

.contact-information{
    display: flex;
    align-items: center;

    .contact-information-container, .form-container{
        width: 50%;
        font-family: Montserrat;
        color: rgb(125, 125, 125);
        font-size: 20px;

        .company{
            font-family: Comfortaa;
            color: #ce9f51;
            font-size: 40px;
            margin:0;
        }

        .adress{
            font-weight: 600;
        }

        .phone-container{
            margin-top:10%;

            .phone{
                width: 100%;
            }
        }

        .mail-header{
            margin-top: 10%;
            font-weight: 600;
        }

        .form-note{
            color: #ce9f51;
            width: 65%;
            padding: 0 15%;
            text-align: center;
        }

        .form-input{
            width: 90%;
            margin: 5%;
            font-size: 20px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid gray;
            color: gray;

            &:focus{
                outline: none;
            }

            &::placeholder{
                padding-left: 15px;
                padding-bottom: 10px;
            }
        }

        .submit-button{
            background-color: transparent;
            color: #ce9f51;
            border: none;
            border-left: 1px solid #ce9f51;
            border-right: 1px solid #ce9f51;
            margin-left: 50%;
            cursor: pointer;
            box-shadow: inset 0 0 0 0 #ce9f51;
            transition: 0.3s ease-in-out;

            &:hover{
                box-shadow: inset 400px 0 0 0 #ce9f51;
                color: black;
            }

            &:focus{
                outline: none;
            }
        }
    }
}

.menu-wrapper{
    display:none;
    z-index:1;
    justify-content: space-evenly;
    position: fixed;
    top: calc(1% + 2px);
    bottom: calc(1% + 2px);
    left: calc(1% + 2px);
    right: calc(1% + 2px);

    .menu-element{
        display: block;
        padding-top: 15%;
        border: 1px solid #ce9f51;
        text-align: center;
        width: 100%;
        color: white;
        font-weight: 600;
        cursor: pointer;

        &:hover{
            background-color:rgba(82, 82, 82, 0.29);
        }

        &::before{
            content: '';
            width: 0%;
            background-color: rgba(32,32,32,.59);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            transition: 0.3s linear;
            z-index: -1;
            animation-name: slideBackground;
            animation-fill-mode: forwards;
            animation-duration: 1s;
        }

        &>p{
            font-size: 30px;
            width: 70%;
            padding-bottom: 10px;
            margin-left: 15%;
        }
    }
}

@keyframes slideBackground{
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}