@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@keyframes fadeIn{
    from{ opacity: 0;}
    to{ opacity: 1;
    display: none;}
}

@keyframes show{
    to{opacity: 1;}
}

.container{
    margin-top: 25%;
    position: relative;
}

body{
    min-height: 100vh;
    background-color: black;
    overflow: hidden;
}

.m{
    background-image: url(../img/M.svg);
    background-repeat: no-repeat;
    background-size: 52px;
    width: 52px;
    height: 48px;
    animation: fadeIn 4s ease-in;
    opacity: 0;
}

.t{
    background-image: url(../img/T.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 50px;
    margin-top: 2px;
    width: 50px;
    height: 50px;
    opacity: 0;
    animation: fadeIn 2s ease-in;
    animation-delay: 2s;
}

.preview-logo{
    position: absolute;
    left:45%;
    top:0;
    width:220px;
    height: 100px;
}

.logo{
    margin-left: 45%;  
    opacity: 0;
    z-index: 9;
    background-image: url(../img/full-logo.svg);
    background-size: 220px;
    background-repeat: no-repeat;
    width: 220px;
    height: 100px;
    animation: show 0s 4s forwards;
}

.container-front-page{
    position: relative;
    padding: 1%;
    background-image: linear-gradient(#ce9f51 4px, transparent 0), linear-gradient(to left, #ce9f51 4px, transparent 0), linear-gradient(to right, #ce9f51 4px, transparent 0), linear-gradient(to top, #ce9f51 4px, transparent 0), linear-gradient(to top, #ce9f51 4px, transparent 0);
    background-position: 0 0, 100% 0, 0 0;
    background-size: 100%, 100%, 100%, 48%, 48%;
    background-repeat: no-repeat;
    min-height: 94vh;

    .arrow-down{
        position: absolute;
        bottom:0;
        left: 49%;
        background-image: url(../img/angle-arrow-down.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 2%;
        height: 30px;
    }

    .information-container{
        margin-top: 15%;

        .information-header{
            font-size: 110px;
            margin-bottom: auto;
            width: 100%;
            font-family: Caveat, cursive;
            color: #ce9f51;
        }

        .information-description{
            margin-left: 30px;
            font-size: 20px;
            width: 50%;
            color: gray;
            font-family: Montserrat;
        }
    }
}